* {
  margin: 0px;
  text-decoration: none;
  color: #292f36;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE HEADER SECTION */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f15152;
}

.appTitle {
  font-size: 440%;
  padding: 0% 0%;
  margin: 10.5% 0%;
}

.tagline {
  font-size: 150%;
  margin: 0% 0%;
  padding: 1% 0%;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #4ecdc4;
}

.dashboard a {
  font-size: 130%;
  padding: 0.5% 1.5%;
  margin: 0.8% 2%;
  border-style: solid;
  border-radius: 35px;
  background-color: #f5f5f5;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE HOME PAGE WHICH SHOWWCASES A COUPLE OF RECIPES*/
/* FROM BOTH THE USER AND THE API BASED */
.homepage {
  padding: 3% 8%;
}

.userrecipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drinkstease {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.drinkstease .recipepost {
  display: flex;
  border-style: solid;
  height: 140px;
  width: 40%;
  margin: 0% 5% 2% 0%;
}

.seperators {
  height: 100px;
}

.entreetease {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.entreetease .recipepost {
  display: flex;
  border-style: solid;
  height: 190px;
  width: 30%;
  margin: 0% 0% 2% 3.1%;
  flex-direction: row;
}

.desserttease {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.desserttease .recipepost {
  display: flex;
  border-style: solid;
  height: 150px;
  width: 26%;
  margin: 0% 5% 2% 0%;
}

/* .recipepost {
  display: flex;
  border-style: solid;
  height: 140px;
  width: 40%;
  margin: 0% 5% 2% 0%;
} */

.recipepost a {
  padding: 1.5%;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE MAIN RECIPE PAGE AND SEARCH BAR */
.recipespage {
  padding: 0% 8%;
}

.searcharea {
  display: flex;
  justify-content: center;
}

.recipeslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipecard {
  display: flex;
  border-style: solid;
  height: auto;
  width: 15%;
  margin: 1% 0.5%;
  flex-direction: column;
  justify-content: space-between;
}

.recipecard img {
  width: 100%;
}

.recipecard a {
  padding: 7%;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE USERS PROFILE */
.userprofilepage {
  padding: 5% 8%;
}

.profileloggedout {
  display: flex;
  justify-content: center;
  padding: 4%;
  font-size: 20px;
}

.usersrecipes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.recipes {
  border-style: solid;
  margin: 1% 1%;
  padding: 0% 0%;
  display: flex;
  width: 30%;
  height: 145px;
  flex-direction: row;
  justify-content: space-between;
}

.deletebutton {
}

.recipeinfo {
  display: flex;
  flex-direction: row;
}

.recipeinfo img {
  width: 200px;
  height: 100%;
}

.ingredientslist {
  width: 100%;
  padding: 2% 4%;
}

/* ************************************************************************* */
/* THESE CUSTOMIZES THE LOGIN PAGE */
.loginpage {
  padding: 5% 8%;
}

.logincard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE SIGNUP PAGE */
.signuppage {
  padding: 5% 8%;
}

.signupcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  width: 250%;
  height: 30px;
  margin: 10% 0%;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE CREATE RECIPE PAGE */
.createrecipepage {
  padding: 5% 8%;
  display: flex;
  justify-content: center;
}

.recipeformsection {
  border-style: solid;
  border-radius: 15px;
  padding: 2%;
}

.recipeform {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tophalf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.basicinfo {
  display: flex;
  flex-direction: column;
}

.basicinfo input {
  width: 350px;
  height: 30px;
  padding: 0% 0%;
  margin: 3% 0%;
}

.basicinfo select {
  height: 30px;
  margin: 2% 0%;
}

.uploadImage {
  padding: 2% 7.6%;
  width: 200px;
  height: 100%;
}

.previewImage {
  width: 140%;
}

.ingred-instr {
  display: flex;
  flex-direction: column;
  width: 635px;
}

.ingred-instr textarea {
  padding: 0% 0%;
  margin: 3% 0%;
  height: 125px;
}

/* ************************************************************************* */
/* THIS CUSTOMIZES THE SINGLERECIPE PAGE */
.singlerecipepage {
  display: flex;
  flex-direction: column;
  margin: 3.5% 20%;
  padding: 2%;
  border-style: solid;
}

.singlerecipepage hr {
  margin: 3% 0%;
}

.titlecard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  padding: 2% 2%;
}

.generalInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 150%;
  margin: 2% 0%;
  padding: 0% 0%;
}

.middlepart {
  display: flex;
  justify-content: space-around;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  font-size: 75%;
  margin: 0% 0%;
  padding: 0% 5%;
  width: 50%;
}

.ingredientsList p {
  font-size: 150%;
  padding: 1% 0%;
  margin: 0% 0%;
}

.recipeImg {
  display: flex;
  justify-content: center;
}

.imagepreview {
  width: 80%;
  height: 195px;
}

.recipeImg img {
  width: 50%;
  height: 93%;
  padding: 2%;
}

.directionsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 100%;
  margin: 2% 0%;
  padding: 0% 4%;
}

.directionsList p {
  font-size: 145%;
  padding: 3% 0%;
  margin: 0% 0%;
}

/* **************************************************************************************************************** */

body {
  padding-right: 0px !important;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}
